In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression, LogisticRegression


from sklearn.metrics import r2_score, f1_score


import warnings
warnings.filterwarnings("ignore")

In [3]:
data = pd.read_csv(r'C:\Users\panao\Downloads\convertcsv.csv')
data

     _key  user_id  place_id  evaluation   to_char
0       1        1         1           2  20230401
1       2        2         1           4  20230401
2       3        3         1           3  20230401
3       4        4         1           3  20230401
4       5        5         1           2  20230401
..    ...      ...       ...         ...       ...
105   106        7        10           1  20230401
106   107        8        10           1  20230401
107   108        9        10           4  20230401
108   109       10        10           1  20230401
109   110       11        10           4  20230401

[110 rows x 5 columns]

In [4]:
test, train = train_test_split(data, test_size=0.2, random_state=123)

In [6]:
features_train = train.drop('evaluation', axis=1)
target_train = train['evaluation']

In [7]:
features_test = test.drop('evaluation', axis=1)
target_test = test['evaluation']

In [8]:
model = LinearRegression()
model.fit(features_train, target_train)
print(f'RMSE: {mean_squared_error(target_test, model.predict(features_test)) ** 0.5}')

RMSE: 1.1483722292952112

In [9]:
 model.predict(features_test)

array([2.52431012, 2.07503285, 2.45781866, 2.36189225, 2.69908016,
       2.4848883 , 2.38896189, 2.61169514, 1.91261498, 2.32864652,
       2.05413929, 2.25597898, 2.66583443, 2.37660972, 2.16241787,
       1.93968463, 1.96675427, 2.22890933, 2.08738502, 2.04796321,
       2.16859396, 2.42220762, 2.63876478, 2.13534823, 2.38278581,
       2.54520368, 2.482523  , 2.12917214, 2.39513798, 2.10827858,
       2.2892247 , 2.47634691, 2.26215506, 2.5304862 , 2.44310118,
       2.40367937, 2.2412615 , 2.61787122, 2.03324573, 2.55137976,
       2.21419185, 2.02706965, 2.36425756, 2.50341656, 2.58462549,
       2.3348226 , 2.7261498 , 2.23508541, 2.33718791, 2.39750329,
       2.17477004, 2.53666229, 2.46399474, 2.30157687, 2.47017083,
       2.43074901, 2.64494087, 2.32247043, 2.31629435, 2.1021025 ,
       2.15624179, 2.4369251 , 2.22273325, 2.50959264, 2.12063075,
       2.15387648, 2.34954008, 2.14770039, 2.11445466, 2.35571616,
       2.06031537, 2.02089356, 2.41603154, 2.26833114, 2.60551905,
       2.28304862, 2.29540079, 2.18948752, 2.21655716, 2.27687254,
       2.20801577, 2.1956636 , 2.55755585, 1.99382392, 2.24362681,
       2.08120894, 2.0935611 , 2.18331143])

In [16]:
test = pd.read_csv(r'C:\Users\panao\Downloads\convertcsv_test.csv')
test

    id  user_id  place_id  evaluation   to_char
0    1        1         1           2  20230401
1   12        1         2           2  20230401
2   23        1         3           1  20230401
3   34        1         4           4  20230401
4   45        1         5           3  20230401
5   56        1         6           1  20230401
6   67        1         7           3  20230401
7   78        1         8           3  20230401
8   89        1         9           1  20230401
9  100        1        10           2  20230401

In [17]:
test_featrues = test.drop('evaluation', axis=1)

In [18]:
test['predict'] = model.predict(test_featrues)

In [19]:
test

    id  user_id  place_id  evaluation   to_char   predict
0    1        1         1           2  20230401  2.455453
1   12        1         2           2  20230401  2.395138
2   23        1         3           1  20230401  2.334823
3   34        1         4           4  20230401  2.274507
4   45        1         5           3  20230401  2.214192
5   56        1         6           1  20230401  2.153876
6   67        1         7           3  20230401  2.093561
7   78        1         8           3  20230401  2.033246
8   89        1         9           1  20230401  1.972930
9  100        1        10           2  20230401  1.912615

In [20]:
test.to_csv('predicted.csv', index=False)

In [14]:
!pip install dill

Requirement already satisfied: dill in c:\users\panao\anaconda3\lib\site-packages (0.3.6)

In [10]:
import dill as pickle
filename = 'model_reccomend_v2.pk'

In [11]:
with open(r'C:/Users/panao/Downloads/'+filename, 'wb') as file:
    pickle.dump(model, file)

In [12]:
with open(r'C:/Users/panao/Downloads/'+filename ,'rb') as f:
    loaded_model = pickle.load(f)

In [13]:
loaded_model.predict(features_test)

array([2.52431012, 2.07503285, 2.45781866, 2.36189225, 2.69908016,
       2.4848883 , 2.38896189, 2.61169514, 1.91261498, 2.32864652,
       2.05413929, 2.25597898, 2.66583443, 2.37660972, 2.16241787,
       1.93968463, 1.96675427, 2.22890933, 2.08738502, 2.04796321,
       2.16859396, 2.42220762, 2.63876478, 2.13534823, 2.38278581,
       2.54520368, 2.482523  , 2.12917214, 2.39513798, 2.10827858,
       2.2892247 , 2.47634691, 2.26215506, 2.5304862 , 2.44310118,
       2.40367937, 2.2412615 , 2.61787122, 2.03324573, 2.55137976,
       2.21419185, 2.02706965, 2.36425756, 2.50341656, 2.58462549,
       2.3348226 , 2.7261498 , 2.23508541, 2.33718791, 2.39750329,
       2.17477004, 2.53666229, 2.46399474, 2.30157687, 2.47017083,
       2.43074901, 2.64494087, 2.32247043, 2.31629435, 2.1021025 ,
       2.15624179, 2.4369251 , 2.22273325, 2.50959264, 2.12063075,
       2.15387648, 2.34954008, 2.14770039, 2.11445466, 2.35571616,
       2.06031537, 2.02089356, 2.41603154, 2.26833114, 2.60551905,
       2.28304862, 2.29540079, 2.18948752, 2.21655716, 2.27687254,
       2.20801577, 2.1956636 , 2.55755585, 1.99382392, 2.24362681,
       2.08120894, 2.0935611 , 2.18331143])

In [19]:
import json
import requests

In [21]:
"""Setting the headers to send and accept json responses
"""
header = {'Content-Type': 'application/json', \
                  'Accept': 'application/json'}

"""Reading test batch
"""
df = pd.read_csv(r'C:\Users\panao\Downloads\test.xlsx')
df = df['']
df = df.head()

"""Converting Pandas Dataframe to json
"""
data = df.to_json(orient='records')

ParserError: Error tokenizing data. C error: Expected 2 fields in line 24, saw 5